:root {
  --nuxt-gray: rgb(47, 73, 94);
  --primary-base: rgb(0, 197, 142);
  --primary: rgb(0, 224, 161);
  --surface: rgb(248, 250, 252);
  --surface-primary: rgb(47, 73, 94);
  --surface-secondary: rgb(96, 111, 123);
  --surface-elevated: rgb(255, 255, 255);
  --border-color: rgb(209, 213, 219);
}

[data-theme="dark"] {
  --primary: rgb(7, 163, 119);
  --surface: rgb(44, 62, 80);
  --surface-primary: rgb(245, 247, 250);
  --surface-secondary: rgb(184, 194, 204);
  --surface-elevated: rgb(47, 73, 94);
  --border-color: rgb(75, 85, 99);
}
